<! doctype HTML5>

<html lang = 'en'>

<head>
    <form method = 'post' action = '/verify'>
        <center><p>Would you like to verify an ISBN?</p></center>
        <center><p>Please enter a 10 or 13-digit number below.</p></center>
        <input type = 'text' placeholder = 'ISBN'>
        <input type = 'submit'>
    </form>
</head>